body {
  /*background-color:grey;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
  text-align: center;
}

h1 {
  text-align: center;
  color: #0ff;
}

img {
  height: 25%;
  width: 25%;
  -o-box-shadow: 12px 12px 29px #555;
  -icab-box-shadow: 12px 12px 29px #555;
  -khtml-box-shadow: 12px 12px 29px #555;
  -moz-box-shadow: 12px 12px 29px #555;
  -webkit-box-shadow: 12px 12px 29px #555;
  box-shadow: 12px 12px 29px #555;
  border: 1px solid red;
  padding: 20px;
  margin:20px;
  background-image: url("https://static.pexels.com/photos/139306/pexels-photo-139306.jpeg");
  opacity: .8;
}

ul {
  text-align: left;
}

li {
  list-style:inside;
}

#header {
  color: yellow;
}

.dsfsdf {
  font-style: italic;
}

.name {
  color: pink;
  font-family: fantasy;
}

#box {
  border: 1px solid black;
  margin: auto;
  width: 387px;
}

a {
  color:blue;
  font-weight: normal;
}

.light-dark {
  background-color: #3e3e3e;
  color: #aaaaaa;
  font-weight: bold;
}

.dark-light {
  background-color: #0f0f0f;
  color: #afafaf;
  font-weight: bold;
}

.highlight {
  background-color: yellow;
  color: #aaaaaa;
  font-weight: bold;
  width: 100%;
  border: 2px solid purple;
  padding: .33em;
}

p {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
